// gruvbox theme

// main colors
//$color-bg: #070808;
$color-bg: #1d2021;
//$color-bg-hover: #1c1816;
$color-bg-secondary: #2d3031;
$color-bg-tertiary: #0d1011;
$color-bg-secondary-red: #170808;
$color-bg-secondary-orange: #171208;
$color-bg-secondary-blue: #071016;
$color-bg-secondary-yellow: #171808;
$color-fg: #ebdbb2;
$color-fg-secondary: #ab9b72;

$color-selec-fg: #ebdbb2;
$color-selec-bg: #d65d0e;

$color-black: #3c3836;
$color-black-l: #928374;
$color-red: #cc241d;
$color-red-l: #fb4934;
$color-green: #98971a;
$color-green-l: #b8bb26;
$color-yellow: #d79921;
$color-yellow-l: #fabd2f;
$color-blue: #458588;
$color-blue-l: #83a598;
$color-purple: #b16286;
$color-purple-l: #d3869b;
$color-cyan: #689d6a;
$color-cyan-l: #8ec07c;
$color-white: #a89984;
$color-white-l: #fbf1c7;

// additional colors
$color-orange: $color-selec-bg;
