return {
    {
        "nvim-treesitter/nvim-treesitter",
        branch = "main",
        lazy = false,
        build = ':TSUpdate',
    },
    {
        'MeanderingProgrammer/treesitter-modules.nvim',
        dependencies = { 'nvim-treesitter/nvim-treesitter' },
        ---@module 'treesitter-modules'
        ---@type ts.mod.UserConfig
        opts = {
            ensure_installed = {
                "c", "dockerfile", "json", "lua", "yaml",
                {{- if eq .chezmoi.hostname "archdesktop" "archlaptop" }}
                "arduino", "cpp", "c_sharp", "gdscript", "hlsl", "glsl",
                "glimmer", "gotmpl", "haskell", "html", "java", "javascript", "latex",
                "markdown", "markdown_inline", "python", "rust", "typst", "twig", "yuck",
                {{- end }}
            },
            sync_install = false,
            auto_install = true,
            fold = {
                enable = false,
            },
            highlight = {
                enable = true,
                additional_vim_regex_highlighting = { "markdown" },
            },
            incremental_selection = {
                enable = true,
                keymaps = {
                    init_selection = 'gnn',
                    node_incremental = 'gn',
                    scope_incremental = 'gs',
                    node_decremental = 'gd',
                },
            },
            indent = {
                enable = false,
            }
        },
    },
}
